<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>



<h2>Hospitals & beds ( Data is collected from goverment api) </h2>

<table>
  <tr>
    <th>State</th>
    <th>Total Hospitals</th>
    <th>Total Beds</th>
  </tr>
  {%for values in data%}
  <tr>
    <td>{{values["state"]}}</td>
    <td>{{values["totalHospitals"]}}</td>
    <td>{{values["totalBeds"]}}</td>
  </tr>
{% endfor %}
</table>

</body>
</html>

